body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color : white;
  font-weight: 400;

}

.contact {
    display : flex;
    justify-content: space-evenly;
    color : black;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .contact div {
    background-color: red ;
    border : 1px solid lightgrey;
    line-height: 30px;
    text-align: center;
    overflow-x: auto;
    box-shadow: 3px 3px 3px lightgray;
    width : 250px;
    height : 230px;
    margin: 30px 45px;
    font-size:1rem ;
    color:white;
  }

b{
    font-size: 1rem;
}

 .contact div img {
    margin: 0;
    padding: 0;
    width : 248px;
    height : 150px;
    margin-bottom: 10px;
  }

  
 /* Image */ 
 
.image img {
  width : 100%;
  height: 600px;
  margin:auto;
  display:block;
}

.image {
  font-weight: bold;
  color : royalblue;
}

.fnt{
  text-align: center;
  color:red;
  font-size: 3rem;
  font-family: 'Quintessential', cursive;
    
}

@media(max-width:600px) {
  
.image img {
  height: 400px;
}

.fnt{
  font-size: 1.2rem;
    font-weigth :bold;
}
}
