
*{
    margin: 0;
    padding: 0;
}

.navbar-brand{
  font-weight: bold !important;
  font-family: 'Quintessential', cursive !important;
}

.navbar-dark .navbar-nav .nav-link {
    color : white;
    font-weight: 400;
  
}

img{
    width: 100%;
    height: 700px;
}


@media (max-width: 768px)
{
    img{
        height: 500px;
    }
}

@media (min-width: 992px)
{
   .navbar{
       height: 80px !important;
   }
}
