*{
  font-size: 18px;
}

.navbar-brand{
  
  font-weight: bold !important;
  font-family: 'Quintessential'  !important;
}

.navbar-dark .navbar-nav .nav-link {

  color : white;

  font-weight: 400;

}

h1 ,h5 , h6 {

  color : red;

  text-transform: uppercase;

  font-weight: bold;
  
   font-family: 'Quintessential' ,cursive  !important;

}

.about {

  word-spacing: 5px;

}


.header {
  height: 500px;
}


.img-fluid{
  width : 100% !important;
  height: 500px !important ;
}

.icon {

  width : 50px;

}

.accordion-body {

  color : red !important;

}

@media (min-width: 560px)

{

.header {

  height : 700px;

}

}


@media (min-width: 992px)

{
.navbar{
  height: 80px !important;
}
}
